@using BusinessLogic
@using Entities
<style>
    .colHidden {
        display: none;
    }
</style>
@if (ViewBag.Alta == true)
{
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-info  btn-block" id="btnAgregarForm"><i class="fa fa-plus"></i> Agregar</button>
        </div>
    </div>
    <form class="form-horizontal rowAlt" role="form" id="formPrincipal" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Empleados - Titulo").IdiPal_Texto)</label>
                                <select type="text" class="input-sm form-control" id="empleados" name="empleados">
                                    <option></option>
                                    @foreach (var item in BusinessLogic.EmpleadosAdmin.GetList().Where(x => x.Cli_Id == null))
                                    {
                                        <option value="@item.Emp_Id">@item.Personas.NombreCompleto</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="pull-right btn-Cont">
                    <button type="submit" class="btn btn-success btn-rounded" id="btnGuardar"><i class="fa fa-check"></i> Guardar</button>
                </div>
            </div>
        </div>
    </form>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="min-width: 100%;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Editar</h4>
            </div>
            <form class="form-horizontal" id="formEdit" method="post">
                <div class="modal-body rowAlt">
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>F. Desde</label>
                                <input type="text" class="form-control input-sm bfh-phone datepicker" autocomplete="off" id="fechaDesdeEdit" name="fechaDesdeEdit" data-format="dd/dd/dddd" placeholder="xx/xx/xxxx" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>F. Hasta</label>
                                <input type="text" class="form-control input-sm bfh-phone datepicker" autocomplete="off" id="fechaHastaEdit" name="fechaHastaEdit" data-format="dd/dd/dddd" placeholder="xx/xx/xxxx" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>Cliente</label>
                                <input type="text" style="width: 100% !important" class="form-control input-sm" id="cliente" name="cliente" />
                                <select type="text" class="input-sm form-control" id="personaEdit" name="personaEdit" disabled>
                                    <option></option>
                                    @foreach (var item in BusinessLogic.ClientesAdmin.GetList().Where(x => x.Cli_FechaHasta == null))
                                    {
                                        <option value="@item.Cli_Id">@item.Personas.NombreCompleto</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label style="display:block;">APP Acceso</label>
                                <input type="checkbox" name="appAccesoEdit" id="appAccesoEdit" data-on-color="success" data-on-text="@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "General - Control Switch - SI").IdiPal_Texto)" data-off-text="@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "General - Control Switch - NO").IdiPal_Texto)" tabindex="">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>Observación</label>
                                <textarea rows="2" style="width: 100% !important" class="form-control input-sm" id="observacionEdit" name="observacionEdit"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Alta == true)
                    {
                        <button type="submit" class="btn btn-primary btn-rounded" id="btnEditar"><i class="fa fa-check"></i> Guardar</button>
                        <button type="button" class="btn btn-danger btn-rounded borrarRegistro" title="Borrar" data-toggle="modal" data-target="#confirmDelete"><i class="fa fa-trash"></i> Eliminar</button>
                    }
                    <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>

            </div>
            <div class="modal-body">
                Confirma que desea eliminar el registro?
            </div>
            <div class="modal-footer">
                @if (ViewBag.Alta == true)
                {
                    <button type="button" class="btn btn-primary btn-rounded delete"><i class="fa fa-check"></i> Guardar</button>
                }
                <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var id;
    var oTable;
    $(function () {
       function generarTabla() {
            oTable = $('#dataTables-example').dataTable({
                "scrollX": true,
                  "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Paginado").IdiPal_Texto)",
                "sZeroRecords": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Buscar sin resultados").IdiPal_Texto)",
                "sEmptyTable": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - No hay datos").IdiPal_Texto)",
                "sInfo": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Info").IdiPal_Texto)",
                "sInfoEmpty": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Info sin datos").IdiPal_Texto)",
                "sInfoFiltered": "(@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Info Filtro").IdiPal_Texto))",
                "sInfoPostFix": "",
                "sSearch": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Buscador").IdiPal_Texto): ",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Cargando").IdiPal_Texto)",
                "oPaginate": {
                    "sFirst": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Primero").IdiPal_Texto)",
                    "sLast": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Ultimo").IdiPal_Texto)",
                    "sNext": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Siguiente").IdiPal_Texto)",
                    "sPrevious": "@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Grilla - Anterior").IdiPal_Texto)"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
                "destroy": true,
                "ajax": {
                    "type": "GET",
                    "url": '@Url.Action("EmpleadosGrilla")',
                    "data": { id: $('#clienteId').val() },
                    "dataType": 'json',
                    "dataSrc": ""
                },
                "ordering": false,
                "autoWidth": false,
                "columns": [
                    {
                        "data": "persona",
                        "title": '@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Empleados - Titulo").IdiPal_Texto)',
                        @*"title": '@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Clientes - Empleados - Personas").IdiPal_Texto)',*@
                        "render": function (data, type, full, meta) {
                            return '<span id="personaGrid">' + data + '</span><input type="hidden" id="hiddenPersona" value="' + full['personaId'] + '"/>';
                        }
                    },
                      {
                        "data": "fechaDesde",
                        "title": 'F. Desde',
                        //"className" : "colHidden",
                        "render": function (data, type, full, meta) {
                            return '<span id="desdeGrid">' + data + '</span>';
                        }
                    },
                    {
                        "data": "fechaHasta",
                        "title": 'F. Hasta',
                        //"className" : "colHidden",
                        "render": function (data, type, full, meta) {
                            return '<span id="hastaGrid">' + data + '</span>';
                        }
                    },
                    {
                        "data": "accesoApp",
                        @*"title": '@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Clientes - Empleados - Datos Verificados").IdiPal_Texto)',*@
                        "title": '@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Empleados - Empleados - App Acceso").IdiPal_Texto)',
                        "render": function (data, type, full, meta) {
                            return '<span id="accesosGrid">' + data + '</span>';
                        }
                    },
                    {
                        "data": "observacion",
                        "title": 'Observación',
                        "className" : "colHidden",
                        "render": function (data, type, full, meta) {
                            return '<span id="observacionGrid">' + data + '</span>';
                        }
                    },
                    {
                        "data": "",
                        "title": 'Acciones',
                        "class": "claseAlign",
                        "render": function (data, type, full, meta) {

                            @*var algo = "";
                            if ('@ViewBag.Alta' == 'True')
                                algo += '<button type="button" class="btn btn-success btn-xs editarRegistro" title="Editar" id="' + full['id'] + '" data-toggle="modal" data-target="#confirmEdit"><span class="glyphicon glyphicon-pencil"></span></button>';
                            return algo;*@
                            return "";
                        }
                    }
                ],
            });

            $('#dataTables-example_wrapper .row:first .col-sm-6:first-child').css('float', 'right');
        }

        $('#empleados').select2();
        $('#empleados').on("change", function () {
            $('#formPrincipal').data('bootstrapValidator').updateStatus('empleados', 'NOT_VALIDATED', null).validateField('empleados');
        });


        $('#formPrincipal').bootstrapValidator({
            submitButtons: '#btnGuardar',
            fields: {
                empleados: {
                    validators: {
                         notEmpty: {
                            message: 'campo requerido'
                        }
                    }
                },
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();

            var sessionData = {
                "Emp_Id": $("#empleados").select2("val"),
                "Cli_Id": $("#clienteId").val(),
        };
            $.ajax({
                url: '@Url.Action("Empleados")',
                type: 'POST',
                data: JSON.stringify(sessionData),
                contentType: "application/json",
                success: function (results) {
                    if (results.success) {
                        new PNotify({
                            title: ':)',
                            text: 'Registro guardado exitosamente',
                            type: 'success',
                            hide: true,
                            styling: 'bootstrap3',
                            delay: 3000,
                            animate: {
                                animate: true,
                                in_class: 'bounceInDown',
                                out_class: 'bounceOutRight'
                            }
                        });

                        $('#tabEmpleados').removeClass('sinInfo text-info');
                        $('#tabEmpleados i').remove();

                        $('#empleados').select2('data', null);
                        //$('#fechaDesde,#fechaHasta').datepicker('update', '');
                        //$('#observacion').val('');
                        $('#formPrincipal').bootstrapValidator('resetForm');

                        generarTabla();
                    } else {
                        new PNotify({
                            title: ':(',
                            text: results.msg,
                            type: 'danger',
                            hide: false,
                            styling: 'bootstrap3',
                            animation: 'slide'
                        });
                    }
                }
            });
        });

        $('#personaEdit').select2();
        $('#estadoEdit').select2();
        $('#statusEdit').select2();
        $('#areaEdit').select2();

        $('#fechaDesdeEdit').on("change", function () {
            $('#formEdit').data('bootstrapValidator')
                .updateStatus('fechaDesdeEdit', 'NOT_VALIDATED', null).validateField('fechaDesdeEdit');

            $('#formEdit').data('bootstrapValidator')
            .updateStatus('fechaHastaEdit', 'NOT_VALIDATED', null).validateField('fechaHastaEdit');
        });

        $('#fechaHastaEdit').on("change", function () {
            $('#formEdit').data('bootstrapValidator')
                .updateStatus('fechaHastaEdit', 'NOT_VALIDATED', null).validateField('fechaHastaEdit');
        });

        $.fn.bootstrapValidator.validators.dates = {
            validate: function (validator, $field, options) {
                if ($('#fechaHastaEdit').val() == '')
                    return true;
                var d1 = $('#fechaDesdeEdit').val();
                var d2 = $('#fechaHastaEdit').val();
                d1 = d1.split('/');
                d2 = d2.split('/');
                d1 = new Date(d1.pop(), d1.pop() - 1, d1.pop());
                d2 = new Date(d2.pop(), d2.pop() - 1, d2.pop());

                return d2 >= d1;
            }
        };

        $('#formEdit')
            .bootstrapValidator({
                submitButtons: '#btnEditar',
               fields: {
                fechaDesdeEdit: {
                    validators: {
                        date: {
                            format: 'DD/MM/YYYY',
                            message: 'Formato incorrecto'
                        },
                        notEmpty: {
                            message: 'campo requerido'
                        }
                    }
                },
                fechaHastaEdit: {
                    validators: {
                        date: {
                            format: 'DD/MM/YYYY',
                            message: 'Formato incorrecto'
                        },
                        dates: {
                            message: 'La fecha hasta debe ser menor a la fecha desde'
                        }
                    }
                },
            }
            }).on('success.form.bv', function (e) {
                e.preventDefault();
                var sessionData = {
                "Emp_Id": id,
                //"Per_Id": $('#personaId').val(),
                "Cli_Id": $('#clienteId').val(),
                "Emp_FechaAlta": $("#fechaDesdeEdit").val(),
                "Emp_FechaBaja": $("#fechaHastaEdit").val(),
                "Emp_Obs": $("#observacionEdit").val(),
                //"Emp_Password": $("#pass").val(),
                };
                console.log(sessionData);
                $.ajax({
                    url: '@Url.Action("Empleados")',
                    type: 'POST',
                    data: JSON.stringify(sessionData),
                    contentType: "application/json",
                    success: function (results) {
                        if (results.success) {
                            new PNotify({
                                title: ':)',
                                text: 'Registro actualizado exitosamente',
                                type: 'success',
                                hide: true,
                                styling: 'bootstrap3',
                                delay: 3000,
                                animate: {
                                    animate: true,
                                    in_class: 'bounceInDown',
                                    out_class: 'bounceOutRight'
                                }
                            });

                        $('#estadoEdit,#personaEdit').select2('data', null);
                        $('#fechaDesdeEdit,#fechaHastaEdit').datepicker('update', '');
                        $('#identificacionEdit,#observacionEdit').val('');
                            $('#formEdit').bootstrapValidator('resetForm');
                            id = null;

                            $('#confirmEdit').modal('hide');
                        } else {
                            new PNotify({
                                title: ':(',
                                text: results.msg,
                                type: 'danger',
                                hide: false,
                                styling: 'bootstrap3',
                                animation: 'slide'
                            });
                        }
                    }
                });
            });

        $('body').off('click', '.editarRegistro').on('click', '.editarRegistro', function () {
            id = this.id;
            $(this).parent().parent().find('td').css('background-color', 'yellow');
            $('#personaEdit').val($(this).parents('tr').find('#hiddenPersona').val()).trigger('change');
            $('#fechaDesdeEdit').val($(this).parents('tr').find('#desdeGrid').text());
            $('#fechaHastaEdit').val($(this).parents('tr').find('#hastaGrid').text());
            $('#observacionEdit').val($(this).parents('tr').find('#observacionGrid').text());
            @*$("#cliente").select2('val', @Model.Per_Id);*@
            var appAcceso = $(this).parents('tr').find('#accesosGrid').text();
            if (appAcceso == '@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "General - Control Switch - SI").IdiPal_Texto)')
                    $("[name='appAccesoEdit']").bootstrapSwitch('state', true, false);
                else
                    $("[name='appAccesoEdit']").bootstrapSwitch('state', false, false);

        });
        $('#confirmEdit').on('show.bs.modal', function (e) {
            $('body').on({
                'mousewheel': function (e) {
                    if (e.target.id == 'el') return;
                    e.preventDefault();
                    e.stopPropagation();
                }
            });
        });

        $('#confirmEdit').on('hidden.bs.modal', function (e) {
            $('td').css('background-color', '');
            if (id == null)
                generarTabla();
        });


        $('body').off('click', '.delete').on('click', '.delete', function () {
            $.ajax({
                url: '@Url.Action("EmpleadosDelete")',
                data: { id: id },
                success: function (results) {
                    if (results.success) {
                        new PNotify({
                            title: ':)',
                            text: 'Registro eliminado exitosamente',
                            type: 'success',
                            hide: true,
                            styling: 'bootstrap3',
                            delay: 2000, animate: { animate: true, in_class: 'bounceInDown', out_class: 'bounceOutRight' }
                        });
                        $('#confirmEdit, #confirmDelete').modal('hide');
                        id = null;
                        generarTabla();

                    } else {
                        new PNotify({
                            title: ':(',
                            text: results.msg,
                            type: 'danger',
                            hide: true,
                            delay: 3000,
                            styling: 'bootstrap3',
                            animation: 'slide'
                        });
                    }
                },
                type: "POST"
            });
        });




        generarTabla();
    });

</script>

