@using BusinessLogic
@using Entities
@model VencimientosServiciosExternos
<form class="form-horizontal rowAlt" role="form" id="formPrincipal">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label style="display:block;">Identificacion</label>
                            <input type="text" class="form-control input-sm" name="identificacion" id="identificacion" style="text-transform:uppercase" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Proveedor</label>
                            <select class="form-control input-sm" style="width: 100%;" id="proveedor" name="proveedor">
                                <option value=""></option>
                                @foreach (var item in ProveedoresAdmin.GetList())
                                {
                                    <option value="@item.Prov_Id">@item.Personas.NombreCompleto</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>

                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Descripcion</label>
                            <textarea rows="3" class="input-sm form-control" id="descripcion" name="descripcion"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.Alta == true)
             {     
                if (Model != null)
                {
                    if (Model.VencimientosServiciosExternosDetalles.Count == 0 )
                    {
                    <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#confirmDelete"><i class="fa fa-trash"></i>   Eliminar</button>
                    }

                }
                <div class="pull-right btn-Cont">
                    <button type="submit" class="btn btn-success btn-rounded" id="btnGuardar"><i class="fa fa-check"></i> Confirmar</button>
                </div>
             }
        </div>
    </div>


</form>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>

            </div>
            <div class="modal-body">
                <h4>
                    Confirma eliminar el registro?
                </h4>
            </div>
            <div class="modal-footer">
                @if (ViewBag.Alta == true)
                {
                    <button type="button" class="btn btn-primary btn-rounded delete"><i class="fa fa-check"></i> Guardar</button>
                }
                <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        bootstrapHelper();
        $('#proveedor').select2();
        $('#fechaDesde').on("change", function () {
            $('#formPrincipal').data('bootstrapValidator')
                .updateStatus('fechaDesde', 'NOT_VALIDATED', null).validateField('fechaDesde');

            $('#formPrincipal').data('bootstrapValidator')
                .updateStatus('fechaHasta', 'NOT_VALIDATED', null).validateField('fechaHasta');
        });
        $('#fechaHasta').on("change", function () {
            $('#formPrincipal').data('bootstrapValidator')
                .updateStatus('fechaHasta', 'NOT_VALIDATED', null).validateField('fechaHasta');
        });

        $.fn.bootstrapValidator.validators.dates = {
            validate: function (validator, $field, options) {
                if ($('#fechaDesde').val() == '' || $('#fechaHasta').val() == '')
                    return true;

                var d1 = $('#fechaDesde').val();
                var d2 = $('#fechaHasta').val();
                d1 = d1.split('/');
                d2 = d2.split('/');
                d1 = new Date(d1.pop(), d1.pop() - 1, d1.pop());
                d2 = new Date(d2.pop(), d2.pop() - 1, d2.pop());

                return d2 >= d1;
            }
        };

        $('#formPrincipal').bootstrapValidator({
            live: 'enabled',
            submitButtons: '#btnGuardar',
            fields: {
                identificacion: {
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        }
                    }
                },
               
                fechaVencimiento: {
                    validators: {
                        date: {
                            format: 'DD/MM/YYYY',
                            message: 'Formato incorrecto'
                        }
                    }
                },
                

            }
        }).on('success.form.bv', function(e) {
            e.preventDefault();

            var sessionData = {
                "venSerExt_Id": $("#vencid").val(),
                "VenSerExt_Identificacion": $('#identificacion').val(),
                "VenSerExt_Prov_Id": $('#proveedor').select2("val"),
            
                "VenSerExt_Descripcion": $('#descripcion').val(),
               
                
            };

            $.ajax({
                url: '@Url.Action("VencimientosServiciosExternos")',
                type: 'POST',
                data: JSON.stringify(sessionData),
                contentType: "application/json",
                success: function(results) {
                    if (results.success) {
                        if ($('#vencid').val() > 0) {
                            new PNotify({
                                title: ':)',
                                text: 'Registro actualizado exitosamente',
                                type: 'success',
                                hide: true,
                                styling: 'bootstrap3',
                                delay: 3000,
                                animate: {
                                    animate: true,
                                    in_class: 'bounceInDown',
                                    out_class: 'bounceOutRight'
                                }
                            });

                            $('#tituloIdentificacion').text($('#identificacion').val());

                        } else {

                            window.location.href = '@Url.Action("Index")/?id='  + results.msg;
                        }
                    } else {
                        new PNotify({
                            title: 'Error!',
                            text: results.msg,
                            type: 'danger',
                            hide: false,
                            styling: 'bootstrap3',
                            animation: 'slide'
                        });
                    }
                }
            });
        });


        
        $('body').off('click', '.delete').on('click', '.delete', function () {
            $.ajax({
                url: '@Url.Action("VencimientosServiciosExternosDelete")',
                data: { id: $('#VencimientoId').val() },
                success: function (results) {
                    if (results.success) {
                        new PNotify({
                            title: ':)',
                            text: 'Registro eliminado exitosamente',
                            type: 'success',
                            hide: true,
                            styling: 'bootstrap3',
                            delay: 2000, animate: { animate: true, in_class: 'bounceInDown', out_class: 'bounceOutRight' }
                        });
                        $('#confirmEdit, #confirmDelete').modal('hide');

                        location.href = '@Url.Action("Buscador", "VencimientosServiciosExternos")';


                    } else {
                        new PNotify({
                            title: 'Error!',
                            text: results.msg,
                            type: 'danger',
                            hide: true,
                            delay: 3000,
                            styling: 'bootstrap3',
                            animation: 'slide'
                        });
                    }
                },
                type: "POST"
            });
        });


    });

</script>
@if (Model != null)
{
    <script>
        $(function () {
            $("#identificacion").val('@Html.Raw(Ajax.JavaScriptStringEncode(Model.VenSerExt_Identificacion))');
            @*$("#FechaVencimiento").val('@Model.VencimientosServiciosExternosDetalles.VenSerExtDet_FechaVencimiento}.ToString("dd/MM/yyyy")');*@
           
            $("#descripcion").val('@Html.Raw(Ajax.JavaScriptStringEncode(Model.VenSerExt_Descripcion))');
           

            $("#proveedor").select2('val', '@Model.VenSerExt_Prov_Id');
        });
    </script>
}