@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Menu - Usuarios - Cambiar Contraseña").IdiPal_Texto)</h4>
    </div>
</div>
<form class="form-horizontal rowAlt" role="form" id="formPrincipal">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Usuarios - Cambiar Contraseña - Contraseña Actual").IdiPal_Texto)</label>
                            <div class="col-lg-8">
                                <input id="passwordActual" name="passwordActual" type="password" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@(((List<Entities.IdiomasPalabras>) Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Usuarios - Cambiar Contraseña - Contraseña").IdiPal_Texto)</label>
                            <div class="col-lg-8">
                                <input id="password" name="password" type="password" class="form-control input-sm"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">@(((List<Entities.IdiomasPalabras>) Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Usuarios - Cambiar Contraseña - Contraseña Repetir").IdiPal_Texto)</label>
                            <div class="col-lg-8">
                                <input id="password2" name="password2" type="password" class="form-control input-sm"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right btn-Cont">
                    <button type="submit" class="btn btn-success btn-rounded" id="btnGuardar"><i class="fa fa-check"></i> Guardar</button>
                </div>
            </div>
        </div>
    </form>
<script>
    var id;
    $(function () {

        $('#formPrincipal').bootstrapValidator({
            submitButtons: '#btnGuardar',
            fields: {
                passwordActual: {
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        },
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        },
                        identical: {
                            field: 'password2',
                            message: '@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Validacion - Contraseña diferente").IdiPal_Texto)'
                        }
                    }
                },
                password2: {
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        },
                        identical: {
                            field: 'password',
                            message: '@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "Validacion - Contraseña diferente").IdiPal_Texto)'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("CambiarPassword")',
                type: 'POST',
                data: { pass: $('#password').val(), passActual: $('#passwordActual').val() },
                success: function (results) {
                    if (results.success) {
                        new PNotify({
                            title: ':)',
                            text: 'Registro actualizado exitosamente',
                            type: 'success',
                            hide: true,
                            styling: 'bootstrap3',
                            delay: 3000, animate: { animate: true, in_class: 'bounceInDown', out_class: 'bounceOutRight' }
                        });
                            window.location.href = '@Url.Action("Index","Home")';
                    } else {
                        new PNotify({
                            title: 'Error!',
                            text: results.msg,
                            type: 'danger',
                            hide: false,
                            styling: 'bootstrap3',
                            animation: 'slide'
                        });
                    }
                }
            });
        });
    });
</script>