@using System
@model Entities.Documentaciones
<form class="form-horizontal rowAlt" role="form" id="formMultialtaEdit">
    <input type="hidden" id="hiddenTablaEdit"/>
    <input type="hidden" id="hiddenTablaIdEdit"/>
    <input type="hidden" id="hiddenTablaMultiDocIdEdit"/>
    @if (Model != null && Model.Doc_Dig != null)
    {
        <div class="alert alert-info alert-dismissible" id="tabInfo" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <strong>Información:</strong> El documento ya tiene cargado el documento digitalizado. Si carga otro nuevo se perdera el anterior.
        </div>
    }
    <input type="hidden" name="docEditId" id="docEditId" />
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-lg-4 control-label">Tipo</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control input-sm" value="@(Model != null ? Model.Clas_Doc_Id.ToString() : "")" name="docTipoEdit" id="docTipoEdit" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-lg-4 control-label">Número</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control input-sm " name="docNumeroEdit" id="docNumeroEdit" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-lg-4 control-label">Letra</label>

                        <div class="col-lg-2">
                            <input type="text" class="form-control input-sm " name="letraEdit" id="letraEdit" />
                        </div>
                        <div class="valAnio">
                            <label for="" class="col-lg-2 control-label">Año</label>
                            <div class="col-lg-2">
                                <input type="text" class="form-control input-sm" name="añoEdit" id="añoEdit" maxlength="4" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-lg-4 control-label">Fecha</label>
                        <div class="col-lg-4">
                            <input type="text" class="input-sm form-control datepicker" id="fechaEdit" name="fechaEdit" />

                        </div>
                    </div>
                </div>
                

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-lg-4 control-label">Reseña</label>
                        <div class="col-lg-8">
                            <textarea class="form-control input-sm" rows="3" id="reseñaEdit" name="reseñaEdit"></textarea>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-lg-4 control-label">Activo</label>
                        <div class="col-lg-3" style="height: 30px;">
                            <input type="checkbox" name="docActivoEdit" id="docActivoEdit" data-on-color="success" data-off-color="success" data-on-text="@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "General - Control Switch - SI").IdiPal_Texto)" data-off-text="@(((List<Entities.IdiomasPalabras>)Session["Idiomas"]).FirstOrDefault(x => x.IdiPal_Clave == "General - Control Switch - NO").IdiPal_Texto)" checked>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-lg-4 control-label">Subir Archivo</label>
                        <div class="col-lg-8">
                            <input id="input-idEdit" type="file" class="file input-sm" name="imagenEdit" data-show-preview="false">
                        </div>
                    </div>
                </div>

            </div>
            <div class="pull-right btn-Cont">
                <button type="submit" class="btn btn-success" id="btnEditar" style="display: none">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelar" style="display: none">Cancelar</button>
                <button type="button" class="btn btn-info 1" id="btnBuscarEdit">Buscar</button>

            </div>
        </div>
    </div>
</form>
<div id="gridResultadoDocEdit" class="row">
</div>



<script>

    function uploadfileEdit(docId) {
        var bannerImage = $("#input-idEdit").val();
        if (bannerImage) {
            var file = document.getElementById('input-idEdit').files[0];
            var formData = new FormData();
            formData.append(file.name, file);
            var xhr = new XMLHttpRequest();
            var url = "@Url.Action("UploadFotoSinParametro")/" + docId;
            xhr.open('POST', url, true);
            xhr.onload = function (e) {
                var response = $.parseJSON(e.target.response);
                if (response.success == false) {
                    $('#alertMessage2').gelemAlert({
                        tipo: 'danger',
                        texto: response.msg,
                    });
                }
            };
            xhr.send(formData);  // multipart/form-data

            $('#input-idEdit').fileinput('clear');
        }
    }

    $(function () {

        $('#btnBuscarEdit').on('click', function () {
            $("#gridResultadoDocEdit").load('@Url.Action("DocumentacionBuscar")', { activo: $('[name="docActivoEdit"]').bootstrapSwitch('state'), aa: $("#añoEdit").val(), fecha: $("#fechaEdit").val(), letra: $("#letraEdit").val(), num: $("#docNumeroEdit").val(), tipo: $("#tipoEdit").select2("val")[$("#tipoEdit").select2("val").length - 1] });
            $('#btnEditar').show();
            $('#btnCancelar').show();
        });

        $("[name='docActivoEdit']").bootstrapSwitch('state', true, true);

        $('#docTipoEdit').select2({
            maximumInputLength: 10,
            multiple: true,
            initSelection: function (element, callback) {
                if ($('#docTipoEdit').val() > 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetClasificadorById","Clasificadores")',
                        dataType: 'json',
                        data: { id: $('#docTipoEdit').val(), tabla: 'Documentos - Tipos' },
                        success: function (data) {
                            callback(data);
                        }
                    }).done(function () {
                        $('.select2-search-choice-close').css("display", "none");

                        $('.select2-search-field').prev().find('.select2-search-choice-close').css("display", "block");
                    });
                }
            },
            ajax: {
                url: '@Url.Action("GetClasificador","Clasificadores")',
                dataType: 'json',
                type: 'POST',
                data: function (term, page) {
                    if ($('#docTipoEdit').select2("val").length == 0) {
                        return {
                            tabla: 'Documentos - Tipos',
                            q: term // search term
                        };
                    } else {
                        return {
                            tabla: 'Documentos - Tipos',
                            q: term, // search term
                            id: $('#docTipoEdit').select2("val")[$('#docTipoEdit').select2("val").length - 1]
                        };
                    }
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                }
            }
        });
        $('#docTipoEdit').on("change", function () {

            $('.select2-search-choice-close').css("display", "none");
            $('.select2-search-field').prev().find('.select2-search-choice-close').css("display", "block");

            $('#docTipoEdit').select2('open');

            ValidateSelect2Multi($('#docTipoEdit').select2("val")[$('#docTipoEdit').select2("val").length - 1], $('#formMultialtaEdit'), 'docTipoEdit');
        });
        
        $('#fechaEdit').on("change", function () {
            $('#formMultialtaEdit').data('bootstrapValidator')
                // Mark the field as not validated, so it'll be re-validated when the user change date
                .updateStatus('fechaEdit', 'NOT_VALIDATED', null)
                // Validate the field
                .validateField('fechaEdit');
        });

        $('#formMultialtaEdit').bootstrapValidator({
            submitButtons: '#btnEditar',
            fields: {
                docTipoEdit: {
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        }
                    }
                },
                docNumeroEdit: {
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        },
                        regexp: {
                            regexp: /^\d+$/,
                            message: 'solo números'
                        },
                    }
                },
                añoEdit: {
                    group: '.valAnio',
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        },
                        between: {
                            min: 1900,
                            max: '@DateTime.Now.Year',
                            message: 'El año tiene que ser un valor entre 1900 y @DateTime.Now.Year'
                        }
                    }
                },
                fechaEdit: {
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        },
                        regexp: {
                            regexp: /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/,
                            message: 'Formato incorrecto'
                        }
                    }
                },
                reseñaEdit: {
                    validators: {
                        notEmpty: {
                            message: 'campo requerido'
                        }
                    }
                },
                imagen: {
                    validators: {
                        stringLength: {
                            max: 50,
                            message: 'el nombre del documento no puede superar los 45 caracteres'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();
            var sessionData = {
                "Doc_Id": $("#docEditId").val(),
                "Clas_Doc_Id": $("#docTipoEdit").select2("val")[$("#docTipoEdit").select2("val").length - 1],
                "Doc_Num": $("#docNumeroEdit").val(),
                "Doc_AA": $("#añoEdit").val(),
                "Doc_Let": $("#letraEdit").val(),
                "Doc_Fec": $("#fechaEdit").val(),
                "Doc_Res": $("#reseñaEdit").val(),
                "Doc_Activo": $('[name="docActivoEdit"]').bootstrapSwitch('state')
            };
            
            var parametro = { "model": sessionData, "tabla": $("#hiddenTablaEdit").val(), "tablaId": $("#hiddenTablaIdEdit").val(), "tablaMultiDocId": $("#hiddenTablaMultiDocIdEdit").val() };

            $.ajax({
                url: '@Url.Action("MultiAlta")',
                type: 'POST',
                data: JSON.stringify(parametro),
                contentType: "application/json",
                success: function (results) {
                    if (results.success) {
                        if (results.msg == 'U') {
                            $('#alertMessage2').gelemAlert({
                                tipo: 'success',
                                texto: 'Documento actualizado exitosamente',
                            });
                        } else {
                            $('#alertMessage2').gelemAlert({
                                tipo: 'success',
                                texto: 'Documento guardado exitosamente',
                            });
                        }
                        
                        $('#docTipoEdit').select2('data', null);
                        $('#fechaEdit').datepicker('update', '');
                        $('#reseñaEdit,#añoEdit,#letraEdit,#docNumeroEdit').val('');
                        $('#docActivoEdit').bootstrapSwitch('state', true, true);

                        uploadfileEdit(results.id);
                        
                        $('#confirmDoc').modal('hide');
                    } else {
                        $('#alertMessage2').gelemAlert({
                            tipo: 'danger',
                            texto: results.msg,
                        });
                    }
                }
            });
        });

        $("#input-idEdit").fileinput({
            previewFileType: "image",
            browseClass: "btn btn-sm btn-success",
            browseLabel: " Buscar",
            browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
            removeClass: "btn btn-sm btn-danger",
            removeLabel: " Borrar",
            removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
            showUpload: false
        });

        bootstrapHelper();

    });
</script>
@if (Model != null)
{
    <script>
        $(function () {
            //Id
            $("#docEditId").val('@Model.Doc_Id');

            //Tipo
            $("#docTipoEdit").select2('val', "Gera");

            //Numero
            $('#docNumeroEdit').val('@Model.Doc_Num');

            //Letra
            $('#letraEdit').val('@Model.Doc_Let');

            //Año
            $('#añoEdit').val('@Model.Doc_AA');

            //Fecha
            $('#fechaEdit').val('@Model.Doc_Fec.ToShortDateString()');

            //Reseña
            $('#reseñaEdit').val('@Html.Raw(Model.Doc_Res)');

            //Activo
            if ('@Model.Doc_Activo' == 'True') {
                $('#docActivoEdit').bootstrapSwitch('state', true);
            }
            else {
                $('#docActivoEdit').bootstrapSwitch('state', false);
            }
        });
    </script>
}